<a href="https://colab.research.google.com/github/habaccc/Python_study1/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장된 위치
  * 리스트의 인덱스는 **0**부터 시작.
  * 리스트의 마지막 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
  * `tuble`과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)

  인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소

In [ ]:
numbers[5] # 리스트 numbers의 인덱스 5 위치의 원소

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소

In [ ]:
numbers[-6]

1

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄.
  * `list[0:5]`와 `list[:5]`은 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 **리스트**.

In [ ]:
numbers

[1, 2, 3, 10, 20, 30]

In [ ]:
numbers[1:4]

[2, 3, 10]

In [ ]:
numbers[3:6]

[10, 20, 30]

In [ ]:
numbers[3:]

[10, 20, 30]

In [ ]:
numbers[:3] # 리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [ ]:
numbers[-3:] # 리스트에서 뒤에서 3개

[10, 20, 30]

In [ ]:
numbers[0:1]

[1]

In [ ]:
numbers[0]

1

# 문자열(str)

* 문자들의 *리스트*
* 문자열은 인덱스를 사용할 수 있음.
*indexing, slicing 가능.

In [ ]:
message = '안녕하세요, 여러분!' # 11개의 문자들로 이루어진 리스트.

In [ ]:
message[0] # 문자열에서 첫번째 문자

'안'

In [ ]:
message[-1] # 문자열에서 마지막 문자

'!'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:] # 문자열에서 뒤에서 3글자

'러분!'

In [ ]:
# 문자열 산술 연산
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

* `list + list`
* `list + int` 또는 `int + list`

In [ ]:
[1, 2, 3] + [4, 5, 6] # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복문

In [ ]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5, 100] # 순서대로 값만 찾을 때
for x in numbers:
  print(x)

1
10
5
100

In [ ]:
for i in range(len(numbers)): # 0 <= x < len
  print(i, ':', numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
for i, v in enumerate(numbers): # 인덱스와 값을 같이 찾을 때
  print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
# [11, 13, 15]
result = [] # 빈(empty) 리스트
for i in range(len(numbers1)): # 0 <= i < len
  result.append(numbers1[i] + numbers2[i])
result

[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2): # zip: 같은 위치에 있는 것 끼리 묶어줌
  result.append(x + y)
result

[11, 13, 15]

파이썬에 난수를 만드는 방법:

In [2]:
import random # random 모듈을 임포트

In [ ]:
# random 모듈의 random() 함수를 호출
random.random() # [0, 1) 범위(0 <= x < 1)의 실수 난수를 리턴.

0.582771670419184

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(3) # [0, 3) 범위의 정수 난수를 리턴.

1

In [ ]:
random.randrange(1, 4) #[1, 4) 범위의 정수 난수를 리턴.

3

## Exercises
### Ex 1.
1. 빈 리스트를 생성
2. 1 이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

In [3]:
# Ex.1
a = []
for _ in range(5):
  a.append(random.randint(1, 10)) # random.randrange(1, 11) 로 해도 됨.
print(a)

total = 0
for i in range(len(a)):
  total = total + a[i]
  average = total / len(a)
print(f'total: {total}')
print(f'average: {average}')

[4, 3, 9, 8, 10]
total: 34
average: 6.8

In [19]:
numbers = [random.randrange(1, 11) for _ in range(5)]

print(numbers)

total = sum(numbers)
# total = 0
# for x in numbers:
#   total += x

average = total / len(numbers)

print(f'total: {total}')
print(f'average: {average}')

[2, 4, 3, 5, 6]
total: 20
average: 4.0

### Ex 2.
1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [4]:
# Ex.2
numbers = []

for _ in range(10):
  numbers.append(random.randint(10, 99))
print(numbers)

evens = []
odds = []

for x in numbers: # 리스트를 numbers의 원소들을 순서대로 반복하면서
  if x % 2 == 0: # 리스트에서 찾은 값을 2로 나눈 나머지가 0이면 (짝수)
    evens.append(x)
  else:
    odds.append(x)

print(f'evens: {evens}')
print(f'odds: {odds}')

[32, 53, 97, 42, 82, 93, 54, 14, 26, 52]
evens: [32, 42, 82, 54, 14, 26, 52]
odds: [53, 97, 93]

In [20]:
numbers = [random.randrange(10, 100) for _ in range(10)]
print(numbers)

evens = [x for x in numbers if x % 2 == 0]
odds = [x for x in numbers if x % 2 == 1]

print(f'evens: {evens}')
print(f'odds: {odds}')

[90, 38, 49, 82, 43, 60, 31, 34, 61, 76]
evens: [90, 38, 82, 60, 34, 76]
odds: [49, 43, 31, 61]

### Ex 3.
1. 빈 리스트 numbers를 만듦.
2. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
3. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [8]:
# Ex.3
numbers = []

for _ in range(10):
  numbers.append(random.randint(-10, 10))
print(numbers)

is_positive = []

for x in numbers:
  if x > 0:
    is_positive.append(True)
  else:
    is_positive.append(False)

print(f'is_positive: {is_positive}')

[5, 9, -1, 1, -7, 0, 6, -8, 0, 0]
is_positive: [True, True, False, True, False, False, True, False, False, False]

In [23]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)

is_positive = [True if x > 0 else False for x in numbers]
is_positive

[-9, 2, 6, 1, 7, 6, 4, -3, 6, -6]

[False, True, True, True, True, True, True, False, True, False]

### Ex 4.
1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
# Ex.4
gender_codes = []

for _ in range(10):
  gender_codes.append(random.randint(0, 1))
print(gender_codes)

genders = []

for x in gender_codes:
  if x == 0:
    genders.append('Male')
  else:
    genders.append('Female')

print(f'genders: {genders}')

[1, 0, 0, 1, 1, 0, 1, 0, 0, 0]
genders: ['Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male']

In [25]:
gender_codes = [random.randrange(0, 2) for _ in range(10)]
print(gender_codes)

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
genders

[1, 0, 1, 0, 1, 1, 0, 0, 1, 1]

['Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female']

In [29]:
gender_codes = [1, 2, 1, 2, 3]
# 1 -> 'M', 2 -> 'F', 3 -> 'Unknown' mapping
genders = ['M' if x == 1 else ('F' if x == 2 else 'Unknown') for x in gender_codes]
genders

['M', 'F', 'M', 'F', 'Unknown']

### Ex 5.
1. numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
2. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
3. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
4. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.

numbers1, numbers2, multiplication, subtraction를 출력.

In [9]:
# Ex.5
numbers1 = []
numbers2 = []

for _ in range(10):
  numbers1.append(random.randint(0, 99))
  numbers2.append(random.randint(0, 99))

print(f'numbers1: {numbers1}')
print(f'numbers2: {numbers2}')

multiplication = []
subtraction = []

for x, y in zip(numbers1, numbers2):
  multiplication.append(x * y)
  subtraction.append(x - y)

print(f'multiplication: {multiplication}')
print(f'subtraction: {subtraction}')

numbers1: [21, 58, 60, 23, 34, 32, 3, 16, 93, 9]
numbers2: [36, 1, 35, 92, 69, 16, 13, 63, 79, 59]
multiplication: [756, 58, 2100, 2116, 2346, 512, 39, 1008, 7347, 531]
subtraction: [-15, 57, 25, -69, -35, 16, -10, -47, 14, -50]

In [26]:
numbers1 = [random.randrange(0, 100) for _ in range(10)]
numbers2 = [random.randrange(0, 100) for _ in range(10)]

print(f'numbers1: {numbers1}')
print(f'numbers2: {numbers2}')

multiplication = [x * y for x, y in zip(numbers1, numbers2)]
subtraction = [x - y for x, y in zip(numbers1, numbers2)]

print(f'multiplication: {multiplication}')
print(f'subtraction: {subtraction}')

numbers1: [92, 45, 59, 76, 74, 26, 23, 68, 69, 40]
numbers2: [49, 72, 91, 76, 47, 28, 34, 35, 1, 92]
multiplication: [4508, 3240, 5369, 5776, 3478, 728, 782, 2380, 69, 3680]
subtraction: [43, -27, -32, 0, 27, -2, -11, 33, 68, -52]

# List comprehension(리스트 내포)

1 ~ 10 정수들을 순서대로 리스트에 저장: `[1, 2, 3, ..., 9, 10]`

In [10]:
numbers = []
for x in range(1, 11):
  numbers.append(x)

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# [1, 4, 9, 16, ..., 81, 100]

squares = [x * x for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# [0, 10) 범위의 난수 10개를 저장하는 리스트

numbers = [random.randrange(10) for _ in range(10)]
numbers

[5, 4, 6, 0, 8, 5, 4, 3, 9, 8]