<a href="https://colab.research.google.com/github/habaccc/Python_study1/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트.
  * `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
* 인덱스 기반 자료 타입.
  * indexing, slicing
  * 음수 인덱스도 사용 가능

In [1]:
# 숫자들을 저장하는 tuple
numbers = (1, 2, 10, 20, 100, 200)
numbers

(1, 2, 10, 20, 100, 200)

In [2]:
type(numbers)

tuple

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [3]:
numbers[0] # 튜플의 첫번째 원소

1

In [4]:
numbers[-1] # 튜플의 마지막 원소

200

slicing: 자르기, 부분집합

In [5]:
numbers[:3] # 튜플에서 첫 3개의 원소들을 잘라내기. [start, end] 범위.

(1, 2, 10)

In [6]:
numbers[-3:] # 튜플에서 마지막 3개의 원소들을 잘라내기.

(20, 100, 200)

## decomposition(분해)

In [8]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [11]:
x, y, z = (1, 3, 5)
print(x, y, z)

1 3 5

## tuple & for

In [14]:
for x in odds:
  print(x)

1
3
5

# 2차원 리스트 / 튜플

In [15]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
len(numbers) # 2차원 리스트 numbers의 원소 개수

In [16]:
numbers[0]

[1, 2, 3]

In [17]:
numbers[0][0]

1

Ex.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드세요.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드세요.
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [19]:
import random

In [34]:
array1 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]
# for _ in range(2): # 2번 반복
# row = [] # 난수들을 저장할 빈 리스트.
# for _ in range(2): # 2번 반복
#   row.append(random.randrange(10)) # 난수를 row에 추가.
# array1.append(row) # 난수 2개를 갖는 1차원 리스트를 array1번에 추가함.
print(array1)

array2 = [[random.randrange(10) for _ in range(2)] for _ in range(2)]

print(array2)

add = []

for row1, row2 in zip(array1, array2):
  # print(row1, row2)
  temp = [] # 덧셈 결과를 저장할 빈 배열
  for x, y in zip(row1, row2):
    temp.append(x + y)
  add.append(temp)

add

[[7, 9], [3, 6]]
[[0, 9], [7, 5]]

[[7, 18], [10, 11]]

In [35]:
[[x + y for x, y in zip(row1, row2)] for row1, row2 in zip(array1, array2)]

[[7, 18], [10, 11]]

# Set(집합)

* 중복된 데이터를 허용하지 않음: `{1, 2, 2, 3, 3} = {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음.
  * 인덱스가 없기 때문에 데이터의 저장 순서가 중요하지 않음: `{1, 2, 3} = {3, 1, 2}`
  * indexing, slicing 기능을 제공하지 않음.
  * for-in 구문에서 사용할 수 있는 iterable 타입.

In [36]:
s = {1, 2, 2, 3, 3}
s

{1, 2, 3}

In [37]:
s.add(5)
s

{1, 2, 3, 5}

In [38]:
s.add(5)
s

{1, 2, 3, 5}

In [39]:
s.remove(3)
s

{1, 2, 5}

In [40]:
s.pop()
s

{2, 5}

In [43]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

In [44]:
s1.union(s2) # 합집합

{1, 2, 3, 4, 5, 6}

In [45]:
s1.intersection(s2) # 교집합

{2, 3}

In [46]:
s1.difference(s2) # 차집합: s1 - s2

{1, 4}

In [47]:
s2.difference(s1) # 차집합: s2 - s1

{5, 6}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
  * list, tuple: 인덱스 기반의 데이터 타입.
  * dict: key-value 기반의 데이터 타입.
  * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [48]:
students = {1: '홍길동', 2: '허균', 3: '오쌤'}
students

{1: '홍길동', 2: '허균', 3: '오쌤'}

In [49]:
type(students)

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자(`[ ]`)를 사용함.

In [50]:
students[1] # dict에서 key가 1인 아이템의 value

'홍길동'

In [51]:
students[10] = '홍길동' # dict에서 새로운 key-value 아이템을 추가
students

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [55]:
students[3] = 'scott' # dict에서 key에 해당하는 value를 변경.
students

{1: '홍길동', 2: '허균', 10: '홍길동', 3: 'scott'}

In [56]:
students.pop(3) # dict에서 해당하는 key의 아이템(key: value)를 삭제
students

{1: '홍길동', 2: '허균', 10: '홍길동'}

In [57]:
book = {
    'title': '점프 투 파이썬',
    'authors': ['박응용', '웨스 매키니'],
    'isbn':123456789
}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 매키니'], 'isbn': 123456789}

In [58]:
book['title']

'점프 투 파이썬'

In [63]:
print(book['authors'])
book['authors'][0]

['박응용', '웨스 매키니']

'박응용'

## dict & for

In [64]:
contact = {
    'no': 1,
    'name': '오쌤',
    'phone': ['010-0000-0000','02-000-0000'],
    'email': {
        'company': 'jake@itwill.co.kr',
        'personal': 'jake@naver.com'
    }
}
contact

{'no': 1,
 'name': '오쌤',
 'phone': ['010-0000-0000', '02-000-0000'],
 'email': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [65]:
for k in contact:
  print(k)

no
name
phone
email

for-in 구문에서 dict을 사용하면 키(key)를 iteration함.

In [66]:
for k in contact:
  print(k, ':', contact[k])

no : 1
name : 오쌤
phone : ['010-0000-0000', '02-000-0000']
email : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [67]:
contact.keys() # dict의 key들의 리스트를 리턴.

dict_keys(['no', 'name', 'phone', 'email'])

In [68]:
contact.values() # dict의 value들의 리트스를 리턴.

dict_values([1, '오쌤', ['010-0000-0000', '02-000-0000'], {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [70]:
contact.items() # dict에서 (key, value)들로 이루어진 튜플들의 리스트를 리턴.

dict_items([('no', 1), ('name', '오쌤'), ('phone', ['010-0000-0000', '02-000-0000']), ('email', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [71]:
for k, v in contact.items():
  print(k, v)

no 1
name 오쌤
phone ['010-0000-0000', '02-000-0000']
email {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

## Dictionary Comprehension

In [74]:
emp_no = [1001, 1002, 2001, 2002] # 직원 번호
emp_name = ['King', 'Scott', 'Allen', 'Tiger'] # 직원 이름

emp_no를 key로 하고 emp_name을 value로 dict을 만들고 출력

In [75]:
emp = {} # key-value를 저장할 빈 dict
for no, name in zip(emp_no, emp_name): # 리스트의 원소 개수만큼 반복
  emp[no] = name # dict에 key-value 아이템을 저장
emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [76]:
# Dictionary Comprehension
{no : name for no, name in zip(emp_no, emp_name)}
# {k : v for k, v in zip(emp_no, emp_name)}

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [78]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 strings의 문자열을 key로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력
str_len = dict() # 빈 dict
for s in strings: # strings에서 원소들을 차례로 반복하면서
  str_len[s] = len(s) # 문자열(key)-길이(value) 아이템을 dict에 추가

str_len

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}

In [79]:
{k : len(k) for k in strings}

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}