<a href="https://colab.research.google.com/github/habaccc/Python_study/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

* function(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역 변수.
* return value: 함수가 기능의 수행 결과르 리턴하는 값.
  * return value가 있는 함수
  * return value가 없는 함수
* 파이썬 함수 정의 방법:
  ```
  def function_name([param, ...]):
    ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
    함수 기능 구현
    [return 값]
  ```
* return value가 없는 경우에,
  * return 문장을 생략.
  * return None 명시할 수도 있음.

In [1]:
def subtract(x, y):
  """2개의 숫자 x, y를 전달받아서 x - y 결과를 리턴하는 함수.
  """

  return x - y

In [2]:
# 함수 호출
result = subtract(1, 2)
result

-1

In [3]:
def repeat_message(message, n):
  """문자열(message)과 정수(n)을 전달받아서, message를 n번 출력하는 함수.
  """
  for _ in range(n):
    print(message)


  #return None 리턴 값이 없으면 보통 return문을 생략하지만, return None으로 명시하기도 함. (있어도 없어도 됨)

In [4]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

# 숙제

## Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [5]:
import random

In [6]:
def make_list(start, end, n):

  return [random.randrange(start, end) for _ in range(n)]

## Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [7]:
def calc_sum(num):
#  total = 0
#  for x in num:
#    total += x

  return sum(num)

## Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [8]:
def calc_mean(num):
  n = len(num)
  mean = sum(num) / n
  return mean

## Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
  * 분산 = (값 - 평균)**2 들의 평균

In [9]:
def calc_var(num):
  n = len(num)
  mean = sum(num) / n
  var = sum((x - mean) ** 2 for x in num) / n

  return var

In [10]:
num_list = make_list(0, 10, 5)
print(f'list: ', num_list)

total = calc_sum(num_list)
print(f'sum: ', total)

mean = calc_mean(num_list)
print(f'mean: ', mean)

var = calc_var(num_list)
print(f'var: ', var)

list:  [5, 2, 2, 1, 2]
sum:  12
mean:  2.4
var:  1.8400000000000003

In [11]:
def make_lotto_list():
  lottos = []
  for _ in range(5):
    lotto = set()
    while True:
      lotto.add(random.randrange(1, 46))
      if len(lotto) == 5:
          break
    lottos.append(lotto)
  return lottos

In [12]:
make_lotto_list()

[{19, 25, 26, 32, 37},
 {1, 7, 10, 12, 21},
 {5, 20, 21, 25, 38},
 {1, 15, 28, 30, 31},
 {3, 19, 21, 23, 26}]

파이썬은 2개 이상의 값을 리턴하는 함수를 정의할 수 있음. 함수를 호출한 곳에서는 리턴 값을 튜플로 취급하면 됨.

x, y = (1, 2) # decomposition(성분 분해)

In [14]:
def plus_and_minus(x, y):
  return x + y, x - y

In [15]:
result = plus_and_minus(1, 2)
result

(3, -1)

In [ ]:
plus, minus = plus

숫자들의 리스트를 전달받아서, 최대값과 최솟값을 리턴하는 함수를 정의하고, 테스트

In [17]:
def find_max_and_min(num_list):
  max = num_list[0] # 리스트의 첫번째 원소를 최댓값이라고 가정.
  min = num_list[0] # 리스트의 첫번째 원소를 최솟값이라고 가정.

  for x in num_list: # 리스트의 원소들을 처음부터 끝까지 순서대로 반복하면서(하나씩 꺼내면서)
    if (x > max): # 리스트에 있는 값이 max보다 크다면
      max = x     # 리스트에서 찾은 값으로 max를 변경
    if (x < min): # elif 쓰면안됨( 최대값과 최솟값을 찾는 로직이 아예 다르기 때문에
      min = x     # 리스트에 있는 값이 min보다 작다면 리스트에서 찾은 값으로 min을 변경

  return max, min

In [19]:
numbers = make_list(0, 100, 10)
print(numbers)
max, min = find_max_and_min(numbers)
print(f'max = {max}, min = {min}')

[79, 38, 44, 78, 67, 99, 89, 85, 11, 28]
max = 99, min = 11

숫자들의 리스트를 전달받아서 최댓값과 최댓값의 인덱스(위치)를 리턴하는 함수를 정의.

최댓값이 2개 이상인 경우, 먼저 리스트에 있는 최댓값의 인덱스를 리턴.

In [25]:
def find_max_and_index(num_list):
  max = num_list[0]
  max_index = 0
  for i, v in enumerate(num_list):
    if (v > max):
      max = v
      max_index = i

  return max, max_index

In [26]:
numbers = [1, 100, 20, 100, 0, -1, 99]
find_max_and_index(numbers) # if (v >= max)로 한다면 뒤에 나오는 100의 index를 리턴하게 됨. if (v > max)로 하면 뒤의 값은 없어짐

(100, 1)