<a href="https://colab.research.google.com/github/habaccc/Python_study/blob/main/py08_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 아규먼트로 다른 함수를 전달할 수 있음.
  * 함수는 아규먼트가 될 수 있음.
* 함수는 다른 함수의 리턴 값이 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

## 함수를 변수에 할당

In [2]:
def twice(x):
  return 2 * x

In [3]:
result = twice(100) # 함수 호출 결과(리턴 값)을 변수에 저장.
result

200

In [4]:
double = twice # 함수(객체)를 변수에 저장.
double

In [5]:
double(12)

24

## 함수를 아규먼트로 사용

In [7]:
def calculate(x, y, fn):
  result = fn(x, y)
  return result

In [8]:
def plus(x, y):
  return x + y

In [9]:
calculate(1, 2, plus)

3

In [10]:
def minus(x, y):
  return x - y

In [11]:
calculate(1, 2, minus)

-1

## 내부 함수, 함수 리턴

In [13]:
def make_increment(n): # 외부 함수
  def add_n(x): # 내부 함수, 지역 함수.
    return x + n # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있음.

  return add_n

In [14]:
increase_by_2 = make_increment(2)
increase_by_2

In [15]:
increase_by_2(100)

102

In [18]:
increase_by_10 = make_increment(10)
increase_by_10(100)

110

In [19]:
make_increment(5)(100)

105