<a href="https://colab.research.google.com/github/habaccc/Python_study/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP: Object-Oriented Programming)

In [18]:
class Student:
  # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
  def __init__(self, no, name, python, java, javascript):
    self.no = no
    self.name = name
    self.python = python
    self.java = java
    self.javascript = javascript

  def get_total(self):
    # 파이썬의 메서드는 멤버들을 접근할 때 반드시 self 키워드를 사용해야 함.
    return self.python + self.java + self.javascript

  def get_mean(self):
    return self.get_total() / 3

  def print_info(self):
    print(f'Student(번호={self.no}, 이름={self.name}, python={self.python}, java={self.java}, javascript={self.javascript}')

In [19]:
# Student 타입의 객체 생성
student1 = Student(1, '홍길동', 100, 90, 50) # 생성자 호출: 생성자 이름 - 클래스 이름, new 키워드를 사용하지 않음.

In [20]:
print(student1) # 객체 student1을 문자열로 출력

<__main__.Student object at 0x7f9e3f7c8b20>

In [21]:
student1 # 객체 student1의 식(expression)을 출력

In [22]:
student1.name

'홍길동'

In [23]:
student1.get_total()

240

In [24]:
student1.get_mean()

80.0

In [25]:
student1.print_info()

Student(번호=1, 이름=홍길동, python=100, java=90, javascript=50

In [43]:
import math
# math 모듈을 임포트 -> math.sqrt()

* class: Point
  * 2차원 평면의 점의 좌표 (x, y)를 표현하는 클래스
* 생성자 함수: x, y를 초기화. x, y의 기본값은 0.
* 메서드
  * move: 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드
  * distance: 두 점 간의 거리를 계산해서 리턴하는 메서드.
    * `sqrt((x1 - x2)**2 + (y1 - y2)**2)`
    
  >>> $ \\sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2} $

In [44]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

  def move(self, dx, dy):
    self.x += dx
    self.y += dy

  def distance(self, pt): # pt를 포인트타입이라고 가정
    return math.sqrt((self.x - pt.x) ** 2 + (self.y - pt.y) ** 2)

In [45]:
pt1 = Point() # 생성자 함수의 default argument 사용
pt1

In [46]:
print(f'x={pt1.x}, y={pt1.y}')

x=0, y=0

In [47]:
pt1.move(1, 1)
print(f'x={pt1.x}, y={pt1.y}')

x=1, y=1

In [48]:
pt2 = Point(1, 2)
print(f'x={pt2.x}, y={pt2.y}')

x=1, y=2

In [49]:
pt1.distance(pt2)

1.0

##magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드.

특별한 경우에 파이썬 인터프리터에 의해서 호출되는 메서드.

* `__init__()`:
  * 생성자를 호출하면 자동으로 호출되는 메서드.
  * 인스턴스의 필드(프로퍼티)들을 선호하고 초기화하는 메서드.

* `__str__()`:
  * `print()` 함수의 아규먼트 객체일 때 자동으로 호출되는 메서드.
  * 문자열을 리턴하는 메서드.

* `__repr__()`: repressentation.
  * 식(expression)을 출력할 때 자동으로 호출되는 메서드.
  * `print()` 함수의 동작 방식:
    * 객체를 출력하기 위해서, 그 객체의 `__str__()` 메서드를 호출함.
    * `__str__()` 메서드가 없는 경우에는, `__repr__()` 메서드를 호출함.
    * `__str__()` 메서드와 `__repr__()`메서드가 모두 없는 경우에는, 기본 문자열(... object at Ox ...)로 출력

In [55]:
class T:
  def __str__(self): # 문자열만 리턴하면 되니까 아규먼트는 없음.
    return 'class T instance'

  def __repr__(self):
    return 'T'

In [56]:
t = T() # 생성자 호출 -> __init__() 메서드 호출

In [57]:
print(t) # __str__() 메서드 자동 호출

T

In [58]:
t # __repr__() 메서드 자동 호출

T

`__eq__()`:
  * `==` 연산자를 사용햇을 때 자동으로 호출되는 메서드.
  * 두 객체가 같은 지(True) 다른 지(False)를 리턴.

In [59]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list1 == list2 # list 클래스가 __eq__ 메서드를 구현하고 있기 때문에.

True

In [65]:
class Number:
  def __init__(self, n):
    self.n = n

  def __repr__(self):
    return str(self.n)

  def __eq__(self, other): # 이퀄 메서드
    return self.n == other.n

In [66]:
n1 = Number(1)
n1

1

In [67]:
n2 = Number(1)
n2

1

In [68]:
n1 == n2 # 이퀄 메서드가 없으면 기본동작으로 두 리스트의 값을 비교하는게 아니라 주소값을 비교함.
# n1.__eq__(n2)

True

# Exercise

* class Score
  * 프로퍼티: korean, math, science(int 타입)
  * 메서드: `__init__`, `__repr__`, `__eq__`, `get_total`, `get_mean`

* class Student
  * 프로퍼티: no(int), name(str), score(Score)
  * 메서드: `__init__`, `__repr__`

In [88]:
class Score:
  def __init__(self, korean=0, math=0, science=0):
    self.korean = korean
    self.math = math
    self.science = science

  def __repr__(self):
    return f'Score(korean : {self.korean}, math : {self.math}, science :{self.science})'

  def __eq__(self, other):
    return self.korean == other.korean and self.math == other.math and self.science == other.science

  def get_total(self):
    return self.korean + self.math + self.science

  def get_mean(self):
    return self.get_total() / 3

In [95]:
score = Score()
score

Score(korean : 0, math : 0, science :0)

In [96]:
scr1 = Score(80, 75, 90)
scr1

Score(korean : 80, math : 75, science :90)

In [97]:
scr2 = Score(math=100)
scr2

Score(korean : 0, math : 100, science :0)

In [98]:
scr1 == scr2

False

In [99]:
scr4 = Score(math=75, science=90, korean=80)
scr4

Score(korean : 80, math : 75, science :90)

In [100]:
scr1 == scr4

True

In [101]:
scr4.get_total()

245

In [102]:
scr4.get_mean()

81.66666666666667

In [105]:
class Student:
  def __init__(self, no, name, score):
    self.no = no
    self.name = name
    self.score = score

  def __repr__(self):
    return f'Student(No.{self.no}, name: {self.name}, score: {self.score})'

In [106]:
stu1 = Student(1, '오쌤', scr4)
stu1

Student(No.1, name: 오쌤, score: Score(korean : 80, math : 75, science :90))

In [109]:
stu2 = Student(2, '홍길동', Score(80, 75, 90))
stu2

Student(No.2, name: 홍길동, score: Score(korean : 80, math : 75, science :90))

In [110]:
stu1.score == stu2.score
# stu1.score.__eq__(stu2.score)

True

# 상속(inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스), child class(자식 클래스), derived class(유도 클래스)
* 상속: 상위 클래스의 속성(데이터)들과 기능(메서드)들을 하위 클래스에서 재사용하는 것.
* 일반적으로 **IS-A** 관계가 성립하는 객체들을 상속을 사용해서 구현함.
  * 학생은 사람이다(Student IS A Person)

In [117]:
class Person:
  def __init__(self, name, age=0):
    self.name = name
    self.age = age

  def hello(self):
    print(f'안녕하세요, 저는 {self.name}입니다. 나이는 {self.age}입니다.')

In [118]:
gildong = Person('홍길동')
gildong.hello()

안녕하세요, 저는 홍길동입니다. 나이는 0입니다.

In [131]:
# Person을 상속하는 Student 클래스 정의
class Student(Person):
  # 생성자 method override
  def __init__(self, name, age=0, school='Test'):
    # 하위 클래스에서 상위 클래스의 생성자 함수를 호출:
    super().__init__(name, age)
    self.school = school

  # hello method override
  def hello(self):
    super().hello()
    print(f'학교는 {self.school}입니다. ')

In [132]:
student1 = Student(name='오쌤', age=16, school='아이티윌')

student1.hello()

안녕하세요, 저는 오쌤입니다. 나이는 16입니다.
학교는 아이티윌입니다.

## Method Override
  * 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것.
    * 파이썬에서는 메서드의 이름만 같으면(파라미터 타입/개수와 상관 없이) 메서드가 재정의됨.
      * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음. overloading을 제공하지 않음.
    * 자바에서는 메서드이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
      * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음 - overloading
    * 하위 클래스에서 재정의(override)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 super().method_name(...)의 형식으로 호출함.

In [122]:
def a():
  print('a')

In [123]:
def a(msg):
  print(msg)

In [124]:
a('test')

test

파이썬은 함수(메서드) 오버로디을 제공하지 않음.

파라미터가 다르다고 해서 같은 이름으로 함수(메서드)를 정의할 수 없음.

같은 이름으로 함수를 정의하면, 가장 마지막에서 정의한 함수만 남음.

파이썬은 함수(메서드) 오버로딩 대신에, default argument를 이용하면, 같은 이름의 함수를 여러가지 방법으로 호출할 수 있음.

(위 def a(): 코드처럼 만들 필요가 없음)

In [126]:
def a(msg='a'):
  print(msg)

In [127]:
a()

a

In [128]:
a('TEST')

TEST